.PrinpalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
   margin-top: 50px;
}

tr{
    border-bottom: solid gray 1px;
}

th{
 padding-left: 30px;
 padding-right: 60px;
}

td{
    border-bottom: solid gray 1px;
    padding: 20px;
}


.botao-excluir {
    background-color: #af0707;  
    color: #FFFFFF; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  }


  .botao-excluir:hover {
    background-color: #FF3333; 
  }

.total{
    margin-left: 80%;
    margin-top: 20px;
}